body {
  margin: 0px;
  background: #eeeeee;

  height: 100vh;
}

.nav {
  display: flex;
  height: 3rem;
  padding: 0 10px;
  align-items: center;
  background: #36454f;
  color: rgb(238, 238, 238);
  position: relative;
  font-size: 20px;
}
.navHead {
  width: 10rem;
  margin-left: 20px;
  font-weight: 300;
  font-size: 30px;
}
.last {
  position: absolute;
  right: 0;
  padding: 0 10px;
  height: 100%;
  display: flex;
}

.last > * {
  height: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.last > div:hover {
  background-color: rgb(48, 56, 65);
  text-decoration: underline;
}
.code button,
.msg button {
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(0, 173, 181);
  border-radius: 6px;
  width: 6rem;
  padding: 5px 0;
  color: rgb(238, 238, 238);
  cursor: pointer;
  font-size: 17px;
}
.code button:hover {
  background-color: rgb(0, 226, 238);
}
.code button:active {
  scale: 1.1;
}

.hambug {
  position: absolute;
  right: 0;
  height: 100%;
  display: none;
  width: 2rem;
  align-items: center;
  cursor: pointer;
}
.hambug svg {
  font-size: 8rem;
}

.slide {
  display: none;
}
.heading {
  height: 20%;
  display: flex;
  font-size: 25px;
  padding: 10px 0;
}

.heading > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin:10px; */
}

.player1 {
  padding: 10px;
  background: #aaa7cc;
  border-radius: 10px;
}
.playerBox > .symbol1 {
  font-size: 80px;
}

#edit1,
#edit2 {
  border: none;
  background: none;
  font-size: 5rem;
  cursor: pointer;
}

input {
  color: black;
  width: 5rem;
  border: none;
  background: none;
  font-size: 1.3rem;
}

.playarea {
  position: relative;

  height: max-content;
  padding-bottom: 10px;
}
.winmsg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.msg {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg span {
  background: #eeeeee;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
table,
tr,
td {
  border: 6px solid #111222;
  border-collapse: collapse;
  border-top: none;
}
tr {
  height: 9rem;
}
td {
  text-align: center;
  font-size: 120px;

  width: 9rem;
}

.bb-0 {
  border-bottom: none;
}
.br-0 {
  border-right: none;
}

.bl-0 {
  border-left: none;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}
